@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /*background-image: url(img/fondo.jpg);*/
    background-size: cover;
}

.container{
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    height: 500px;
    max-width: 900px;
    transition: all 1s ease;
    margin: 10px;
}

.informacion{
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(170, 237, 170);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.info-registrar{
    width: 100%;
    padding: 0 30px;
}
.info-registrar h2{
    font-size: 2.5rem;
}
.info-registrar p{
    margin: 15px 0;
    color: rgb(33, 53, 40);
}
.info-registrar input{
    background-color: white;
    outline: none;
    border: solid 2px rgb(1, 69, 1);
    border-radius: 20px;
    padding: 10px 20px;
    color:rgb(0, 0, 32);
    cursor: pointer;
    transition: background-color .3s ease;
}
.info-registrar input:hover{
    background-color: rgb(3, 71, 39);
    border: none;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}
.form-informacion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: rgb(28, 162, 117);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.form-informacion-childs{
    padding: 0 30px;
}
.form-informacion-childs h2{
    color: azure;
    font-size: 55px;
}
.form-informacion-childs p{
    color: #000000;
}
.form{
    margin: 30px 0 0 0;
}
.form label{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}
.form label input{
    width: 100%;
    padding: 10px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    color: black;
}
.form input[type="submit"]{
    background-color: rgb(3, 70, 38);
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}
.form input[type="submit"]:hover {
    background-color: rgb(2, 40, 21);
    color: white;
    border: solid 2px rgb(2, 40, 21);
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1);
}

.hide{
    display: none;
}
/*Responsive form*/
@media screen and (max-width:480px){
    html{font-size: 10px;
    }
    .container{
        height: auto;
        flex-direction: column;
    }
    .informacion{
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0;
    }
    .form-informacion{
        width: 100%;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0;
    }
}