@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');
@import 'carrusel.css';
@import 'piepagina.css';
@import 'reseñas.css';
@import 'portada.css';
*{
    margin: 0px;
    /*padding: 0;*/
    box-sizing: border-box;
    text-decoration: none;
    
}
body{
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    height: 20%;
}

.container__header{
    max-width: 1200px;
    /*height: 200%;*/
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}

.logo{
    display: flex;
    position: relative;
    z-index: 1;
}
.logo img{
    width: 100px;
}
/*Menu hamburguesa--------------*/
.abrirMenu,
.cerrarMenu{
    display: none;
}
/*-----------------------------*/

.Menu{
    display: flex;
    align-items: center;
}
.Menu nav{
    margin: 0px 20px;
    display: flex;
}
/*Quitar los puntos de las opciones*/
.Menu nav ul li{
    list-style: none;   
    margin: 10px 16px; 
}
/*menu al lado del otro*/
.Menu nav ul{
    display: flex;
    margin: 20px;
}
.Menu nav ul li a{
    color:rgb(1, 45, 26);
    font-size: 16px;
    position: relative;
}

.Menu nav ul li a:hover{
    color:rgb(254, 160, 235);
}
.boton__cotizar{
    display: block;
    padding: 10px 20px;
    border: 3px solid rgb(255, 158, 234);
    border-radius: 10px;
    font-weight: 500;
    margin: 20px 10px;
    transition: all 300ms;
}
.boton__cotizar:hover{
    color: rgb(251, 253, 253);
    background-color:rgb(254, 160, 235) ;
}
/*menú hamburguesa*/
.bars__menu{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(6);
    cursor: pointer;
    display: none;
}
.bars__menu span {
    display: block; /*convertir el span en un bloque*/
    width: 100%;
    height: 2px;
    background-color: #ca46b8;
    border-radius: 10px;
    margin-top: 6px;
    transform-origin: 0px 100px;
    transition: all 300ms;
}
/*animacion*/
.activeline1__bars-menu{
    transform: rotate(45deg) translate(-1px, 2px);
}
.activeline2__bars-menu{
    opacity: 0;
    margin-left: -30px;
}
.activeline3__bars-menu{
    transform: rotate(-45deg) translate(8px, -13px);
}






/*---------------------------------      Carrusel      -----------------------------------------------------------*/



.containerCarrusel {
    position: relative;
    width: 900px;
    height: 500px;
    background-color: transparent;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
    border-radius: 5px;
    overflow: hidden;
    justify-self: center;
    margin-top: 70px;
}
.carruseles {
    width: 300%;
    height: 100%;
    display:flex;
}
.sliderSection{
    width: calc(100% / 3);
    height: 100%;
}
.sliderSection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btnLeft,
.btnRight{
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 40px;
    background-color: transparent;
    border-radius: 40%;
    padding: 1px;
    font-weight: 600;
    cursor: pointer;
    color: #c2ced5;
    transition: 1s ease;
    user-select: none;
}
.btnLeft:hover,
.btnRight:hover{
    background-color: transparent;
    color: white;
}
.btnLeft{
    left: 20px;
}
.btnRight{
    right: 20px;
}

/*--------------------------------------------------------------------------------------------*/


@media screen and (max-width: 480px) 
{

    .abrirMenu,
    .cerrarMenu {
        display: block;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        top: 10px; /* Ajusta según lo necesites */
        right: 10px; /* Posicionado en la esquina derecha */
        padding: 0;
    }
    .abrirMenu {
        color: black;
    }
    .cerrarMenu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        top: 10px; /* Ajusta según lo necesites */
        right: 10px; /* Posicionado en la esquina derecha */
        padding: 0;
        margin: 0;
        z-index: 1001; /* Asegura que esté por encima del menú */
        color: white;
    }
 

/* Asegurar que el menú tenga una posición adecuada */
    .Menu {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50%;/**/
        background-color: rgb(34, 56, 57);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
        z-index: 3; 
    }

    /* Ajuste para el menú visible */
    .Menu.visible {
        opacity: 1;
        visibility: visible;
        padding: 20px;
        padding-top: 40px;
    }
    .boton__cotizar{
        margin: 15px;
        margin-left: 30px;
        padding: 6px;
        font-size: 15px;
        border: 2px solid white;
        color:rgb(249, 255, 255);
    }
    .boton__cotizar:hover{
        color: rgb(5, 22, 106);
        background-color: rgb(21, 152, 89) ;
    }
    
    .Menu nav ul {
        flex-direction: column;
        align-items: flex-end;
        padding: 0;
    }
    .Menu nav ul li a {
        color: rgb(255, 255, 255);
    }

    .containerCarrusel {
        width: 100%;
        height: 300px;
        margin-top: 20px;
        box-shadow: none; 
    }

    .sliderSection img {
        object-fit: contain;
    }

    .piePagina .grupo1{
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 5px 0px;
    }
}
