.piePagina{
    width: 100%;
    background-color: #132028;
}
.piePagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 20px 0px;
}
.piePagina .grupo1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.piePagina .grupo1 .box figure img{
    width: 150px;
}
.piePagina .grupo1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}
.piePagina .grupo1 .box p{
    color: white;
    margin-bottom: 10px;
}
/*-----------------------------*/
.piePagina .grupo1 .redSocial a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: transparent;
    text-align: center;
}

.piePagina .grupo2{
    background-color: #1a2c37;
    padding: 15px 10px;
    text-align: center;
    color: white;
}
.piePagina .grupo2 small{
    font-size: 15px;
}