@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
body{
    font-family: "Poppins", sans-serif;
}
:root{
    --colorOne: #c865e0;
    --colorTwo: #1c6d9c;
    --colorThree: #9a1188;
    --colorFour: #132028;
    --colorFive : #e6edf1;
}

header{
    width: 100%;
    height: 20%;
    /*position: fixed;*/
    /*z-index: 100;*/
}

.container__header{
    max-width: 1200px;
    /*height: 200%;*/
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo{
    display: flex;
    /*align-items: center; */
    position: relative;
    z-index: 1;
}
.logo img{
    width: 100px;
}
/*Menu hamburguesa--------------*/
.abrirMenu,
.cerrarMenu{
    display: none;
}
/*-----------------------------*/

.Menu{
    display: flex;
    align-items: flex-start;
}
.Menu nav{
    margin: 0px 20px;
    display: flex;
}
/*Quitar los puntos de las opciones*/
.Menu nav ul li{
    list-style: none;   
    margin: 10px 16px; 
}
/*menu al lado del otro*/
.Menu nav ul{
    display: flex;
    margin: 20px;
}
.Menu nav ul li a{
    color: var(--colorFour);
    font-size: 16px;/*variable*/
    position: relative;
}

.Menu nav ul li a:hover{
    color: var(--colorOne);
}
.boton__cotizar{
    display: block;
    padding: 10px 20px;
    border: 2px solid var(--colorThree);
    border-radius: 10px;
    font-weight: 500;
    margin: 20px 10px;
    transition: all 300ms;
}
.boton__cotizar:hover{
    color: rgb(251, 253, 253);
    background-color: var(--colorThree) ;
}
.Menu .SocialMedia{
    margin: 10px 10px;
}
.Menu .SocialMedia a{
    margin: 0px 10px;
}
.Menu.SocialMedia img{
    width: 10px;
}

/* Portada*/
.container__cover{
    padding-top: 20px;
    padding-bottom: 10px;
    background: #508171;/*Color portada*/
    
}

.cover{
    max-width: 700px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.text_cover{
    width:100%;
    padding-right: 150px;
}
.text_cover h1{
    font-size: 50px;
    color: #132028;
}
.text_cover p{
   /* font-size: fantasy;*/
   margin-top: 40px;
   color:azure;
}
.boton__text{
    display: block;
    width: 150px;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    background-color: white;
    border-radius: 8px;
    border: 2px solid rgb(30, 54, 38);
    cursor: pointer;
    transition: all 300ms;
    color: black;
}
.boton__text:hover{
    background-color:white;
    border: 2px solid rgb(103, 202, 131);
    color:rgba(3, 67, 30, 0.951);
}

.Imagen__cover{
    width: 100px;
}


.image__cover img{
    width: 550px;
}
/*menú hamburguesa*/
.bars__menu{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(6);
    cursor: pointer;
    display: none;
}
.bars__menu span {
    display: block; /*convertir el span en un bloque*/
    width: 100%;
    height: 2px;
    background-color: #9a1188;
    border-radius: 10px;
    margin-top: 6px;
    transform-origin: 0px 100px;
    transition: all 300ms;
}
/*animacion*/
.activeline1__bars-menu{
    transform: rotate(45deg) translate(-1px, 2px);
}
.activeline2__bars-menu{
    opacity: 0;
    margin-left: -30px;
}
.activeline3__bars-menu{
    transform: rotate(-45deg) translate(8px, -13px);
}

/*------------------------------------------------------------------------------------------------------*/
/* Estilos para la sección de reseñas */
#reviews {
    padding: 20px;
    background-color: #7fb09f;
    border-radius: 30px;
    border: 2px solid rgb(10, 32, 17);
    margin-top: 20px;
    margin: 20px;
}

#reviews h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#reviewForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#reviewForm label {
    display: flex;
    font-weight: bold;
    margin: 10px;
    justify-content: center;
}

.reseña{
    text-align: center;
}
#reviewForm input, #reviewForm textarea {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

#reviewForm button {
    padding: 10px;
    background-color: #de9de8;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

#reviewsContainer {
    margin-top: 20px;
}

.review-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.review-item h3 {
    font-size: 18px;
    margin: 0;
}

.review-item p {
    margin: 5px 0;
}

/*------------------------------------------------------------------------------------------------------*/
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
.piePagina{
    width: 100%;
    background-color: #132028;
}
.piePagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.piePagina .grupo1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.piePagina .grupo1 .box figure img{
    width: 150px;
}
.piePagina .grupo1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}
.piePagina .grupo1 .box p{
    color: white;
    margin-bottom: 10px;
}
/*-----------------------------*/
.piePagina .grupo1 .redSocial a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: transparent;
    text-align: center;
}

.piePagina .grupo2{
    background-color: #1a2c37;
    padding: 15px 10px;
    text-align: center;
    color: white;
}
.piePagina .grupo2 small{
    font-size: 15px;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
@media screen and (max-width: 480px) 
{
    .abrirMenu,
    .cerrarMenu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        top: 10px; /* Ajusta según lo necesites */
        right: 10px; /* Posicionado en la esquina derecha */
        padding: 0;
        margin: 0;
    }
    .abrirMenu {
        color: black;
    }
    .cerrarMenu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        top: 10px; /* Ajusta según lo necesites */
        right: 10px; /* Posicionado en la esquina derecha */
        padding: 0;
        margin: 0;
        z-index: 1001; /* Asegura que esté por encima del menú */
        color: white;
    }
 

/* Asegurar que el menú tenga una posición adecuada */
    .Menu {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50%;/**/
        background-color: rgb(34, 56, 57);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
        z-index: 3; 
    }

    /* Ajuste para el menú visible */
    .Menu.visible {
        opacity: 1;
        visibility: visible;
        padding: 20px;
        padding-top: 40px;
    }
    .boton__cotizar{
        margin: 15px;
        margin-left: 30px;
        padding: 6px;
        font-size: 15px;
        border: 2px solid white;
        color:rgb(249, 255, 255);
    }
    .boton__cotizar:hover{
        color: black;
        background-color: white ;
    }
    .Menu nav ul li a {
        color: rgb(255, 255, 255);
        font-size: 16px;
        position: relative;
        z-index: 4; 
        }
        
        .Menu nav ul {
            flex-direction: column;
            align-items: flex-end;
            padding: 0;
        }
        .Menu nav ul li a {
            color: rgb(255, 255, 255);
        }
        .container__cover{
            display: flex;
            max-width: auto;
            padding-top: 20px;
            padding-bottom: 5px;
        }
        
        .cover{
            max-width: 20px;
            margin: 10px;
            margin-top: 30px;
            align-items: center;
            padding: 20px 20px;
            font-size: 12px;
        }
        .Imagen__cover img{
            max-width: 320px;
        }
        .piePagina .grupo1{
            width: 80%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            padding: 5px 0px;
        }
}
